@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Play:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap);





body {
  font-family: Dosis;
}
.display-1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Play', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Play', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a87c00 !important;
  border-color: #a87c00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a87c00 !important;
  border-color: #a87c00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #236895 !important;
  border-color: #236895 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #236895 !important;
  border-color: #236895 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a82b00 !important;
  border-color: #a82b00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a82b00 !important;
  border-color: #a82b00 !important;
}
.btn-success,
.btn-success:active {
  background-color: #36d88a !important;
  border-color: #36d88a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #1e9a5e !important;
  border-color: #1e9a5e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1e9a5e !important;
  border-color: #1e9a5e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #969696 !important;
  border-color: #969696 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #969696 !important;
  border-color: #969696 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffbc00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a87c00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3e97d1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #236895 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4100;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a82b00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #36d88a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1e9a5e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c1c1c1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #969696 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #444444;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #191919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #3e97d1 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #215f88 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffbc00;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffbc00 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #ffbc00;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbc00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffbc00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbc00;
  border-bottom-color: #ffbc00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbc00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #3e97d1 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbc00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rzMzee4krn .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #000000;
  background: none;
}
.cid-rzMzee4krn .navbar.opened {
  transition: all .3s;
  background: #000000 !important;
}
.cid-rzMzee4krn .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #000000;
  color: #ffffff !important;
  background: #000000 !important;
}
.cid-rzMzee4krn .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rzMzee4krn .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-rzMzee4krn .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
.cid-rzMzee4krn .navbar .dropdown-menu {
  min-width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #ffbc00;
}
.cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-rzMzee4krn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rzMzee4krn .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: 87.55714286vh;
  }
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-rzMzee4krn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rzMzee4krn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-rzMzee4krn .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rzMzee4krn .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-rzMzee4krn .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rzMzee4krn .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rzMzee4krn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rzMzee4krn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rzMzee4krn .dropdown-item.active,
.cid-rzMzee4krn .dropdown-item:active {
  background-color: transparent;
}
.cid-rzMzee4krn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-rzMzee4krn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzMzee4krn ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-rzMzee4krn .navbar-buttons {
  text-align: center;
}
.cid-rzMzee4krn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rzMzee4krn a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-rzMzee4krn .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-link:hover,
.cid-rzMzee4krn .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rzMwmK8b7v {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-rzMwmK8b7v .slider-text-two {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
}
.cid-rzMwmK8b7v .mbr-section-title,
.cid-rzMwmK8b7v .mbr-section-subtitle {
  color: #232323;
}
.cid-rzMwmK8b7v .mbr-section-subtitle span {
  font-weight: bold;
}
.cid-rzMwmK8b7v .mbr-text {
  color: #232323;
  font-weight: 100;
}
.cid-rzMwmK8b7v .mbr-section-btn {
  color: white;
}
@media (max-width: 767px) {
  .cid-rzMwmK8b7v .row {
    margin-left: -15px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzMwmK8b7v .slider-text-two {
    outline: 15px solid rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.cid-t6AGRGtGMz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-t6AGRGtGMz .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-t6AGRGtGMz .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-rzMwrfIfKa {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzMwrfIfKa .card-title {
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0;
  padding: 0;
}
.cid-rzMwrfIfKa .card {
  margin-bottom: 2rem;
}
.cid-rzMwrfIfKa .card-box {
  word-break: break-word;
  padding-top: 2rem;
}
.cid-rzMwrfIfKa .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-rzMwrfIfKa .btn {
  margin: .3rem;
}
.cid-rzMwrfIfKa .mbr-section-title {
  margin: 0;
}
.cid-rzMwrfIfKa .card-underline,
.cid-rzMwrfIfKa .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-rzMwrfIfKa .card-underline .line,
.cid-rzMwrfIfKa .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-rzMwrfIfKa .card-underline {
  margin-bottom: 1.5rem;
  margin-top: 0 !important;
}
.cid-rzMwrfIfKa .card-underline .line {
  background: #ffbc00;
}
@media (max-width: 767px) {
  .cid-rzMwrfIfKa .row.blog-block {
    padding: 0 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzMwrfIfKa .row-content {
    min-width: 100%;
  }
  .cid-rzMwrfIfKa .card {
    display: block;
  }
}
.cid-t6ALlrQckt {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-t6ALlrQckt .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-t6ALlrQckt .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-t6ALlrQckt .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-t6ALlrQckt .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-t6ALlrQckt .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-t6ALlrQckt .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-t6ALlrQckt .carousel-control,
.cid-t6ALlrQckt .close {
  background: #1b1b1b;
}
.cid-t6ALlrQckt .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-t6ALlrQckt .carousel-control-prev span {
  margin-right: 5px;
}
.cid-t6ALlrQckt .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-t6ALlrQckt .carousel-control-next span {
  margin-left: 5px;
}
.cid-t6ALlrQckt .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-t6ALlrQckt .close::before {
  content: '\e91a';
}
.cid-t6ALlrQckt .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-t6ALlrQckt .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-t6ALlrQckt .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t6ALlrQckt .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t6ALlrQckt .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-t6ALlrQckt .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-t6ALlrQckt .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t6ALlrQckt .carousel-indicators li.active,
.cid-t6ALlrQckt .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t6ALlrQckt .carousel-indicators li::after,
.cid-t6ALlrQckt .carousel-indicators li::before {
  content: none;
}
.cid-t6ALlrQckt .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t6ALlrQckt .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-t6ALlrQckt .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-t6ALlrQckt .carousel-indicators {
    display: none;
  }
}
.cid-t6ALlrQckt .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-t6ALlrQckt .carousel-inner > .active {
  display: block;
}
.cid-t6ALlrQckt .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t6ALlrQckt .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-t6ALlrQckt .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-t6ALlrQckt .carousel-control,
  .cid-t6ALlrQckt .carousel-indicators,
  .cid-t6ALlrQckt .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-t6ALlrQckt .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-t6ALlrQckt .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-t6ALlrQckt .carousel-indicators .active,
.cid-t6ALlrQckt .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-t6ALlrQckt .carousel-indicators .active {
  background: #fff;
}
.cid-t6ALlrQckt .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-t6ALlrQckt .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-t6ALlrQckt .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t6ALlrQckt .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-t6ALlrQckt .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-t6ALlrQckt .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-t6ALlrQckt .carousel {
  width: 100%;
}
.cid-t6ALlrQckt .modal-backdrop.in {
  opacity: 0.8;
}
.cid-t6ALlrQckt .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-t6ALlrQckt .modal.fade .modal-dialog,
.cid-t6ALlrQckt .modal.in .modal-dialog {
  transform: none;
}
.cid-t6ALlrQckt .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-t6ALlrQckt H6 {
  text-align: center;
}
.cid-t6ALlrQckt H3 {
  color: #e6c63b;
}
.cid-rzMwuyrMNk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzMwuyrMNk .title {
  padding: 0 1em;
  margin-bottom: 25px;
  color: #232323;
}
.cid-rzMwuyrMNk .price-item {
  background: #ffffff;
  padding: 25px 0em;
  margin-bottom: 1em;
  border: 1px solid #f1f1f1;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.cid-rzMwuyrMNk .price-tage {
  background: #808080 none repeat scroll 0 0;
  padding: 15px 1em;
}
.cid-rzMwuyrMNk .price-tage > p {
  letter-spacing: 2px;
}
.cid-rzMwuyrMNk .table-content {
  padding: 0;
  margin-bottom: 25px;
}
.cid-rzMwuyrMNk .table-content > li {
  list-style: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 1em 1em;
}
.cid-rzMwuyrMNk .table-content > li:last-child {
  border-bottom: 1px solid #f0f0f0;
}
.cid-rzMwuyrMNk .table-content > li:nth-child(2n) {
  background: #f2f2f2 none repeat scroll 0 0;
}
.cid-rzMwuyrMNk .costs {
  color: #ffffff;
}
.cid-rzMwuyrMNk .costs-title {
  color: #ffffff;
}
.cid-rzMwtNFlqa {
  background-image: url("../../../assets/images/roger-erdvig-g6y5mm9zby0-unsplash-2000x1334.jpeg");
}
.cid-rzMwtNFlqa .mbr-section {
  padding: 0;
}
.cid-rzMwtNFlqa .first-col,
.cid-rzMwtNFlqa .second-col {
  padding: 0 5%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-rzMwtNFlqa .second-col {
  background-color: #000000;
}
.cid-rzMwtNFlqa .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rzMwtNFlqa .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rzMwtNFlqa .social-media {
  padding-left: 0;
}
.cid-rzMwtNFlqa .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rzMwtNFlqa .social-media ul li {
  padding-right: 0.6rem;
  margin-bottom: .5rem;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-rzMwtNFlqa .about-content {
    padding: 0 1rem;
  }
  .cid-rzMwtNFlqa .typed-text {
    text-align: center;
  }
  .cid-rzMwtNFlqa .second-col {
    padding: 1rem;
  }
  .cid-rzMwtNFlqa .social-media {
    padding: 0 1rem;
  }
  .cid-rzMwtNFlqa .social-media ul li {
    padding: 0 0.3rem;
  }
}
.cid-rzMwtNFlqa .mbr-section-title {
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.cid-rzMwtNFlqa .mbr-section-title span {
  color: #ffbc00;
}
.cid-rzMwtNFlqa .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-rzMwtNFlqa .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-rzMwtNFlqa .progressbar-title {
  color: white;
}
.cid-rzMwtNFlqa .progress {
  width: 100%;
  height: 5px;
  border-radius: 0;
}
.cid-rzMwtNFlqa .progress_elements {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rzMwtNFlqa .progress_elements > div {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-rzMwtNFlqa .progress-bar {
  height: 5px;
  background-color: #ffbc00;
}
.cid-rzMwtNFlqa .title-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rzMwtNFlqa .progressbar-number {
  display: inline-block;
}
.cid-rzMwtNFlqa .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-rzMwtNFlqa .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rzMwtNFlqa .progress_value {
  position: relative;
  color: #ffbc00;
}
.cid-rzMwtNFlqa progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rzMwtNFlqa progress::-webkit-progress-value {
  background: #ffbc00;
}
.cid-rzMwtNFlqa progress[value]::-moz-progress-bar {
  background: #ffbc00;
}
.cid-rzMwtNFlqa progress::-ms-fill {
  background: #ffbc00;
}
.cid-rzMwtNFlqa .progress1 .progressbar-number:before {
  content: '100';
}
.cid-rzMwtNFlqa .progress2 .progressbar-number:before {
  content: '63';
}
.cid-rzMwtNFlqa .progress3 .progressbar-number:before {
  content: '41';
}
.cid-rzMwtNFlqa .progress4 .progressbar-number:before {
  content: '28';
}
.cid-rzMwtNFlqa .progress5 .progressbar-number:before {
  content: '10';
}
.cid-rzMwtNFlqa .progress-bar-1 {
  width: 100%;
}
.cid-rzMwtNFlqa .progress-bar-2 {
  width: 63%;
}
.cid-rzMwtNFlqa .progress-bar-3 {
  width: 41%;
}
.cid-rzMwtNFlqa .progress-bar-4 {
  width: 28%;
}
.cid-rzMwtNFlqa .progress-bar-5 {
  width: 10%;
}
.cid-rzMwBKHcwz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzMwBKHcwz .main-heading-content {
  margin-bottom: 5rem;
}
.cid-rzMwBKHcwz .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-rzMwBKHcwz .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-rzMwBKHcwz .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  display: block;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: all 0.5s ease-out 0s;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
}
.cid-rzMwBKHcwz textarea.form-control {
  min-height: 154px;
}
.cid-rzMwBKHcwz .google-map {
  width: 100%;
  height: 30rem;
}
.cid-rzMwBKHcwz .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rzMwBKHcwz a:link {
  text-decoration: none;
}
.cid-rzMwBKHcwz .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-rzMwBKHcwz .mbr-section-title,
.cid-rzMwBKHcwz .underline {
  text-align: center;
  color: #232323;
}
.cid-rzMwAwMR92 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rzMwAwMR92 a:link {
  text-decoration: none;
}
.cid-rzMwAwMR92 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rzMwAwMR92 .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rzMwAwMR92 .inner-text {
  line-height: 3em;
}
.cid-rzMwAwMR92 .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMwAwMR92 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rzMwAwMR92 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rzMwAwMR92 .content-text,
.cid-rzMwAwMR92 .inner-text {
  color: #c1c1c1;
}
